<div id="artistsWrapper">
	
    <div id="filterSearch">
        <input id="filter" type="text" class="form-control" style="width: 200px;" placeholder="Quick Filter">
    </div>
	
	<div>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Artist</th>
					<th>Album</th>
					<th>Year</th>
					<th>Author</th>
					<th>Date Published</th>
					<th></th>
				</tr>

			</thead>
			<tbody>
				<% @artists.each do | artist |%>
				
					<% if artist.albums.size > 0 %>

						<% artist.albums.each do | album | %>

							<tr>
								<td>
									<%= image_tag album.album_art, :height => '50' %>
								</td>

								<td>
									<div class="boldColumn"> <%= artist.name %> </div>
								</td>

								<td>
									<div class="albumTitle boldColumn">
										<%= link_to album.title, artist_album_path(artist, album) %>
									</div>
								</td>
								<td>
									<%= album.year %>
								</td>
								<td>
									<div class="boldColumn">
										<%= album.user.username %>
									</div>
								</td>

								<td>

									<%= album.created_at.strftime("%A, %d %b %Y") %>
								</td>



								<td>
									<div class="boldColumn">
										<%= link_to "View", artist_album_path(artist, album)%>
									</div>
								</td>
							</tr>

						<% end %>

				<% end %>
				
			<% end %>
		</tbody>

		</table>
	</div>
</div>
<script>
	
	$(document).ready(function(){

		var $rows = $('#artistsWrapper tbody tr');
		$('#filter').keyup(function() {
		    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

		    $rows.show().filter(function() {
		        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
		        return !~text.indexOf(val);
		    }).hide();
		});
	});

</script>