<div id="artistsWrapper">
	
	<% @artists.each do | artist |%>
		
		<% if artist.albums.size > 0 %>

			<h3> <%= artist.name %> </h3>

			<table class="table">

				<% artist.albums.each do | album | %>

					<tr>
						<td>
							<%= image_tag album.album_art, :height => '50' %>
						</td>

						<td>
							<div class="albumTitle boldColumn">
								<%= album.title %>
							</div>
						</td>
						<td>
							<%= album.year %>
						</td>
						<td>
							<div class="boldColumn">
								<%= album.user.username %>
							</div>
						</td>

						<td>

							<%= album.created_at.strftime("%A, %d %b %Y") %>
						</td>

						<td>
							<div class="boldColumn">
								<%= link_to "View", artist_album_path(artist, album)%>
							</div>
						</td>
					</tr>

				<% end %>

			</table>
		<% end %>
		
	<% end %>

	</table>
</div>