<%= form_for(@album) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Artist" %><br>
    <%= f.text_field :artist_name %>
  </div>
  <div id="manualSection">
    <div class="field">
      <%= f.label :year %><br>
      <%= select_year(1975, :start_year => 1950, :end_year => Time.now.year, :field_name => 'year', :prefix => :album) %>
    </div>
  </div>
  <div class="field">
    <%= radio_button_tag(:sync_with_spotify, 'Automatic', :checked, class: 'syncRadio') %> 
    <%= label_tag(:sync_with_spotify_automatic, "Automatic Sync") %><br>
    <%= radio_button_tag(:sync_with_spotify, 'Manual', false, class: 'syncRadio') %> 
    <%= label_tag(:sync_with_spotify_manual, "Manual Sync") %>  
  </div>
  <br />
  <div class="field">
  	<%= f.label :body %>
  	<%= f.text_area :body, :cols => "100", :rows => "10" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
