<table class="table-striped table-condensed">
    <tbody>
        <% @albumTracks.each do | track | %>
            <tr itemprop="track" itemscope itemtype="http://schema.org/MusicRecording">
                <td><span itemprop="name"><%= track.name %></span></td>
                <td>
                    <span><%= formatTime(track.duration_milli) %></span>
                    <meta itemprop="duration" content="<%= get_schema_duration(track.duration_milli) %>" />
                </td>
                <td>
                    <div class="ratyTest author" data-score="<%= track.author_rating %>"></div>                  
                </td>
                <td>
                    <% if track.spotify_link.present? %>
                    	<a itemprop="url" href="<%= track.spotify_link %>" title="Stream Track on Spotify">
                        	<span class="spotify albumLinkIcons"></span>
                        </a>
                    <% end %>
                    <% if track.rdio_url.present? %>
                        <a href="<%= track.rdio_url %>" title="Stream Track on Rdio">
                            <span class="rdio_small albumLinkIcons"></span>
                        </a>
                    <% end %>
                 </td>
            </tr>
        <% end %>                               
    </tbody>
</table> 