<div id="rateTracks">
	<h3>Rate the tracks</h3>

	<table class="table-striped table-condensed">
	    <tbody>
	        <% @albumTracks.each do | track | %>
	            <tr>
	                <td><%= track.name %></td>
	                <td><div class="ratyTest" data-trackid="<%= track.id %>" data-score="<%= track.author_rating %>"></div></td>	             
	            </tr>
	        <% end %>                               
	    </tbody>
	</table>

</div>

<div>

	<h3>Review the album</h3>

	<%= form_for(@album) do |f| %>

		<%= f.text_area :body, :cols => "100", :rows => "30" %>
		<div>
			<%= f.button "Save Draft", name: "type", value: "save" %> 
			<%= f.button "Submit", name: "type", value: "publish", :onclick => "return checkSubmit();" %> 
		</div>
	<% end %>

</div>

<script>
	
	function checkSubmit(){
		
		var error = false;

		$('.ratyTest').each(function(){

			if($(this).attr('data-score') == false){

				error = true
			}
		});

		if(error){
		
			alert('Please rate all tracks');

		}else{

			return confirm('Your submission will be locked and placed in the approval queue.  Proceed?');
		}

		return false;
	}

</script>
