<div id="albumIndexWrapper">
	<div id="sortBy">
		<span>Sort by:</span>
		<%= select_tag "sort_by", options_for_select([ "Newest first", "Oldest first", "Album name", "Artist name", "Year", "Most Obscure" ], "Newest first"), { :onchange => "changeSortOrderJs(this.value)" } %>
	</div>
	<div id="albums">
		 <% @albums.each do | album | %>
		    <div itemscope itemtype="http://schema.org/MusicAlbum" class="albumImage">
				<%= link_to artist_album_path(album.artist, album), :itemprop => "url" do %>
					<figure>
						<%= image_tag(album.album_art, :class => 'albumArt', :width => 200, lazy:true) %>
					</figure>
					<figcaption>
						<div class="albumCaption albumCaptionArtist" itemprop="byArtist"><%= album.artist.name %></div>
						<div class="albumCaption albumCaptionTitle"><%= album.title %></div>
						<div class="albumCaption albumCaptionYear"><%= album.year %></div>
					</figcaption>
				<% end %>
			</div>
		  <% end %>
	</div>
	<script>
		function changeSortOrderJs(val){

		  var theValue = val
		  		
		  $.ajax({
		      type: 'GET',
		      url: '/albums',
		      data: {
		        order: val
		      },
		      format: 'js',
		      success: function(result) {
		      	var html = $(result).find('#albums').html();

		      	$('#albums').html(html);
		      	
		      	$('figure img').lazyload();
		      }
		   });
		}
	</script> 
</div>
