<% title get_title_text(@album) %>
<% meta_description get_meta_description(@album) %>
<% meta_keywords get_meta_keywords(@album) %>
        <div id="contentWrapper" itemscope itemtype="http://schema.org/MusicAlbum">
            <section id="leftPanel">
                <div class="postContent">
                    <div class="postTitle">
                        <div class="albumArt">
                            <img itemprop="image" src="<%= @album.album_art %>" />
                        </div>
                        <div class="albumTitle">
                            <div id="authorInfo">
                                <%= link_to user_path(@album.user.username), :title => "Profile page", :class => "authorName", :rel => "author" do %>
                                    <div id="authorPhoto">
                                        <%= image_tag @album.user.avatar.url(:thumb), size: "50x50" %>
                                    </div>
                                    <div class="authorDetail">                                  
                                        <div>
                                            <span><%= @album.user.username %></span>
                                        </div>
                                        <div class="authorIcons">
                                            <span class="authorIcon">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                                <span id="authorNumReviews">
                                                    <%= @album.user.albums.size %>
                                                </span>
                                            </span>
                                            <span class="authorIcon">
                                                <span class="glyphicon glyphicon-comment"></span>
                                                <span id="authorNumComments">
                                                    <%= @album.user.comments.size %>
                                                </span>
                                            </span>
                                            <span class="authorIcon">
                                                <span class="glyphicon glyphicon-stats"></span>
                                                <span id="authorNumPlaylists">
                                                    <%= @album.user.playlists.size %>
                                                </span>
                                            </span> 
                                        </div>                                  
                                    </div>
                                <% end %>
                            </div>                                       
                            <div class="albumHeader">
                                <h2 itemprop="name"><%= @album.title %></h2>
                                <h5 itemprop="byArtist" itemscope itemtype="http://schema.org/MusicGroup">
                                    <%= link_to artist_path(@album.artist) do %>
                                        <span itemprop="name"><%= @album.artist.name %></span>
                                    <% end %>
                                </h5>
                                <h4><%= @album.year %></h4>
                                <meta itemprop="numTracks" content="<%= @album.tracks.size %>" />
                                <% if @album.date_released.present? %>
                                    <meta itemprop="datePublished" content="<%= @album.date_released.to_time.iso8601 %>" />
                                <% end %>
                                <div class="streamBuyLinks">                           
                                    <% if @album.spotify_link.present? %>
                                        <a href="<%= @album.spotify_link %>" title="Spotify">
                                            <span class="externalLink spotify"></span>
                                        </a>
                                    <% end %>
                                    <% if @album.itunes_view_url.present? %>
                                        <a href="<%= @album.itunes_view_url %>" target="itunes_store" class="externalLink itunes" title="iTunes"></a>
                                    <% end %>
                                    <% if @album.amazon_url.present? %>
                                        <a href="<%= @album.amazon_url %>" target="_blank" class="externalLink amazon" title="Amazon"></a>
                                    <% end %>
                                    <% if @album.rdio_url.present? %>
                                        <a href="http://rdio.com<%= @album.rdio_url %>" class="externalLink rdio" target="_blank" title="Rdio"></a>
                                    <% end %>
                                </div>
                                <div id="obscurometer">
                                    <% if @album.obscurity_rating.present? %>
                                        <h6>Obscurometer:</h6>
                                        <div style="display: inline-block; vertical-align: middle; position: relative;"><input type="range" readonly="readonly" value="<%= @album.obscurity_rating %>" max="100"></input>
                                            <div style="position:absolute; top: -13px; left: <%= @album.obscurity_rating * 1.03 %>px;">
                                                <img src="/images/moulding.gif" style="height: 35px" title="<%= @album.obscurity_rating %>/100">
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                                <br /><br />                          
                            </div>                          
                        </div>                            
                    </div>
                    <div class="content" itemprop="review" itemscope itemtype="http://schema.org/Review">
                        <meta itemprop="dateCreated" content="<%= @album.created_at.to_time.iso8601 %>" />
                        <article itemprop="reviewBody">
                            <%= simple_format(@album.body) %>
                        </article>
                        <input type="hidden" value="<%= @country %>" />
                        <br /><br />
                        <%= render_shareable :buttons=> ['facebook', 'twitter', 'pinterest', 'google_plus']%>
                    </div>
                    <hr />
                    <div id="relatedPosts">
                        <%= render 'relatedAlbums' %>
                    </div>
                    <br />                    
                    
                    <div id="albumComments">
                        <h3>
                            <%= pluralize(@album.comments_count, "Comment") %>
                        </h3>

                        <% if @album.comments_count == 0 %>
                            <span>Tumbleweed...</span>
                        <% end %>
                        
                        <%= render @album.comments %>
                        <br /><br />
                        <%= render 'comments/form' %> 
                    </div>
                    <br />
                    <br />
                    <br />                   
                </div>                             
            </section>
            <section class="rightPanel">
                <div class="albumInfo">
                    <%= render "ratings" %>
                    <br />
                    <br />
                    <%= render "sidebar" %>
                </div>
            
        </section> 
<%= javascript_include_tag "jquery.raty" %>
<%= stylesheet_link_tag "jquery.raty" %>
<script src="https://apis.google.com/js/platform.js" async defer></script>
