<%= form_for(@playlist) do |f| %>
  <% if @playlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
      <% @playlist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="field checkboxes">
    <input type="checkbox" class="playlistTypeCb" data-type="spotify"/>
    <label>Spotify</label>
    <input type="checkbox" class="playlistTypeCb" data-type="deezer" />
    <label>Deezer</label>
    <input type="checkbox" class="playlistTypeCb" data-type="rdio" />
    <label>Rdio</label>
  </div>
  <div id="spotifySection" class="field">
    <%= f.label "Spotify URI" %><br>
    <%= f.text_field :spotify_uri %>
    <p class="help-block">To get the Spotify URI, go to the Playlist in Spotify Desktop, click on the "..." button and select "Copy Spotify URI".  It should look something like this: spotify:user:joebloggs:playlist:3I5PiqsI5OQh83gbG6PRJH</p>
  </div>
  <div id="deezerSection" class="field">
    <%= f.label "Deezer URI" %><br>
    <%= f.text_field :deezer_uri %>
  </div>
  <div id="rdioSection" class="field">
    <%= f.label "Rdio URI" %><br>
    <%= f.text_field :rdio_uri %>
  </div>
  <div class="field">
    <%= f.label "Explain what you like about this playlist" %><br>
    <%= f.text_area :blurb, :cols => "100", :rows => "10" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
