<div id="playlistWrapper">
	<h3><%= @playlist.name %></h3>
	<div id="playlistInfo">
		<div><i><%= @playlist.track_count %> tracks</i></div>

	</div>
	<div id="submittedByInfo">
		<span>Submitted by: <%= link_to @playlist.user.username, user_path(@playlist.user.username), :title => "Profile page", :class => "authorName" %>
		<span>
		<% if @playlist.blurb.present? %>
			<span class="triangle-border left">
				<%= @playlist.blurb %>
			</span>
		<% end %>
	</div>
	<div id="directLinks">
		
		<% if @playlist.spotify_uri.present? %>		

			<div>
				<a class="spotifyPlayNow" target="_top" href="<%= @playlist.spotify_uri %>">
					<span class="spotifyText">Open in Spotify</span>
				</a>
			</div>
			<div>
				<a class="noSpotify" target="_blank" href="http://www.spotify.com">
					<span>Don't have Spotify? Click here</span>
				</a>
			</div>
		<% end %>

		<% if @playlist.deezer_uri.present? %>

		<% end %>
	</div>
	<% if @playlist.spotify_uri.present? %>
		<div id="spotifyEmbed">
			<iframe src="https://embed.spotify.com/?uri=<%= @playlist.spotify_uri %>" style="width: 600px; height:680px;" frameborder="0" allowtransparency="true"></iframe>

		</div>
	<% end %>
	<% if @playlist.deezer_uri.present? %>
		<div id="deezerEmbed">
		<iframe scrolling="no" frameborder="0" allowTransparency="true" src="http://www.deezer.com/plugins/player?autoplay=false&playlist=true&width=700&height=640&cover=true&type=playlist&id=<%= @playlist.deezer_uri %>&title=&app_id=undefined" width="700" height="640"></iframe>
		</div>
	<% end %>

	<div id="albumComments">
        <h3>
            <%= pluralize(@playlist.comments_count, "Comment") %>                            
        </h3>

        <% if @playlist.comments_count == 0 %>
            <span>Tumbleweed...</span>
        <% end %>
        
        <%= render @playlist.comments %>
        <br /><br />
        <%= render 'comments/playlist_form'%> 
    </div>
</div>
