
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">        
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menuContent">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="oaTitle">
                        <a id="obscureIcon" href="/">
                            <span class="icon"></span>
                            <h1>bscure albums</h1>
                        </a>
                    </div>
                </div>
                <div id="menuContent" class="collapse navbar-collapse">
                    <div id="siteLinks">
                        <ul id="menuBar" class="nav navbar-nav">
                            <li class="<%= 'activeTab' if current_page?(main_app.albums_path) || current_page?(main_app.root_path) %>">
                                <%= link_to "Albums", main_app.albums_path %>
                            </li>
                            <li class="<%= 'activeTab' if current_page?(main_app.artists_path) %>">
                                <%= link_to "A-Z", main_app.artists_path %>
                            </li>
                            <li class="<%= 'activeTab' if current_page?(main_app.playlists_path) %>">
                                <%= link_to "Playlists", main_app.playlists_path %>
                            </li>
                            <li class="signInMobile">
                                <%= link_to "Login", new_session_path(resource_name) %>
                            </li>

                            <li class="<%= 'activeTab' if params[:controller] == 'forem/forums' %>">
                                <%= link_to "Forum", main_app.forem_path %>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <div class="loginInfo">
                            <% if user_signed_in? %>
                                <div class="loginInfoMenu">
                                    <div class="displayNameArrow">
                                        <div class="displayName">
                                            <% if current_user.avatar.present? %>
                                                <%= image_tag current_user.avatar.url(:thumb), size: "24x24", class: "avatarImage" %>
                                            <% end %>
                                            <%= current_user.username %>
                                        </div>
                                        <div class="loginInfoArrowIcon"></div>
                                    </div>
                                    <div id="userMenu">
                                        <div>
                                            <%= link_to main_app.edit_user_registration_path(current_user) do %> 
                                                <div class="menuRow">Edit Profile</div>
                                            <% end %>
                                        </div>
                                        <div>
                                            <% if can? :create, Album %>
                                                <%= link_to main_app.new_album_path do %>
                                                    <div class="menuRow">Submit a Review</div>
                                                <% end %>
                                            <% else %>
                                                <%= link_to main_app.become_contributor_path do %>
                                                    <div class="menuRow">Become a Contributor</div>
                                                <% end %>
                                            <% end %>
                                        </div>
                                        <div>
                                            <%= link_to main_app.new_playlist_path do %>
                                                <div class="menuRow">Submit a Playlist</div>
                                            <% end %>
                                        </div>
                                        <div>
                                            <%= link_to main_app.user_path(current_user) do %>
                                                <div class="menuRow">My Reviews</div>
                                            <% end %>
                                        </div>
                                        <% if @hasDrafts %>
                                            <div>
                                                <%= link_to main_app.my_drafts_path(current_user) do %>
                                                    <div class="menuRow">My Drafts</div>
                                                <% end %>
                                            </div>
                                        <% end %>
                                        <% if can? :approve, Album %>
                                            <div>
                                                <%= link_to main_app.non_approved_path do %>
                                                    <div class="menuRow">Pending Approval (<%= get_pending_submission_count %>)</div>
                                                <% end %>
                                            </div>
                                        <% end %>
                                        <div>
                                            <%= link_to main_app.destroy_user_session_path do %>
                                                    <div class="menuRow">Sign Out</div>
                                            <% end %>
                                        </div>

                                    </div>
                                </div>
                            <% else %>
                                <%= render 'devise/shared/login' %>
                            <% end %> 
                        </div>
                    </div>
                </div>               
            </div>
        </nav>
    </header>
