
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">        
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menuContent">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="title">
                        <a id="obscureIcon" href="/">
                            <span class="icon"></span>
                            <h1>bscure albums</h1>
                            <sup>beta!</sup>
                        </a>
                    </div>
                </div>
                <div id="menuContent" class="collapse navbar-collapse">
                    <div id="siteLinks">
                        <ul id="menuBar" class="nav navbar-nav">
                            <li class="<%= 'activeTab' if current_page?(albums_path) || current_page?(root_path) %>">
                                <%= link_to "Albums", albums_path %>
                            </li>
                            <li class="<%= 'activeTab' if current_page?(artists_path) %>">
                                <%= link_to "A-Z", artists_path %>
                            </li>
                            <li>
                                <%= link_to "Playlists", playlists_path %>
                            </li>
                            <li>
                                <%= link_to "Forum", forem_path %>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <div class="loginInfo">
                            <% if user_signed_in? %>
                                <%= link_to current_user.username, destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                            <% else %>
                                <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link' %>
                            <% end %> 
                        </div>
                        <ul class="socialMediaLinks">
                            <li><a class="fbLink" title="Facebook (opens in a new tab)" href="http://facebook.com/obscurealbums" target="_blank"></a></li>
                            <li><a class="twitterLink" title="Twitter (opens in a new tab)" href="http://twitter.com/obscurealbums" target="_blank"></a></li>
                        </ul>
                    </div>
                </div>               
            </div>
        </nav>
    </header>
